<!DOCTYPE HTML>
<html>

<head>
    <title>Path Unknown</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="<%= favicon %>">
</head>

<body>

    <div class="sign-in-wrap">
        <p class="title">Valine Admin 评论管理</p>
        <form method="post" action="/login" class="gh-signin">
            <input tabindex="1" name="username" placeholder="User Name / E-mail" autofocus="" type="text" class="gh-input">
            <input tabindex="2" name="password" placeholder="Password" type="password" class="password gh-input ember-view">

            <input tabindex="3" type="submit" class="login-button" value="Login">
        </form>
        <div class="footer">
            </br>
            <p>Modified<a href="https://www.antmoe.com">By Dreamy.TZK</a>, Revision Again By <a href="https://userunknownx.github.io">UserUnknown</a></p>
            </br>
            <p><a href="https://icp.gov.moe/?keyword=20204040" title="仅供娱乐" target="_blank" rel="noopener noreferrer">萌ICP备 20204040号</a> | Host on <a href="https://leancloud.app">LeanCloud</a></p>
            <%- INFO %>
        </div>
        <script>
            swal("Welcome","Welcome to <Path Unknown> comments management","success");
            console.log('\n' + ' %c 美不胜收的优雅后台 ' + ' ' + ' %c https://www.antmoe.com/posts/2380732b/index.html ' + '\n', 'color: #fadfa3; background: #030307; padding:5px 0;', 'background: #fadfa3; padding:5px 0;');
        </script>
</body>

</html>
